<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>main-menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GALERIA BASICA</ion-title> <!-- Esta galeria es para imagenes basicas del json placeholder -->
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Aqui voy a poner alguna imagen de alguna API" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Galeria 1</ion-card-title>
      <ion-card-subtitle>Galeria de imagenes basica</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button>Default</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
